{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        // "@babel/preset-es2015",
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-modules-commonjs"
    ],
    // "env": {
    //     "server": {
    //         "plugins": [
    //             [
    //                 "css-modules-transform", {
    //                     "generateScopedName": "[hash:8]",
    //                     "extensions": [".css"]
    //                 }
    //             ]
    //         ]
    //     }
    // }
}